{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class=" my-5 ">About Page</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam temporibus pariatur ducimus, maiores cupiditate odit consectetur. Molestias, ad? Praesentium mollitia tenetur ipsa corrupti aperiam quia!</p>    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta nemo aperiam, sit doloribus eveniet exercitationem possimus incidunt maiores, quaerat adipisci veritatis repellendus cupiditate accusamus harum ipsam necessitatibus, hic ratione. Omnis?</p>
    
</div>


{% endblock content %}